/*Do the usual style resets*/
@import "reset.css";

/*Import heavy font style*/
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

/*General global styles*/
* {
	box-sizing: border-box;
}
body {
	background: #eee;
}

/*Font styles*/
h1,h2,h3,h4,h5,h6 {
	font-family: 'Coda', sans-serif;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: 800;
	margin: 15px 0;
	width: 100%;
}
h2 span {
	font-size: 170px;
}
h3 {
	width: 100%;
	margin: 25px 0 15px 0;
	font-size: 20px;
}

/*Form styles*/
form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
form.gameForm {
	width: 100%;
}
form.gameForm:last-child {
	margin-bottom: 20px;
}
form.gameForm button {
	margin: 5px;
}
input[type="number"] {
	border-radius: 10px;
	font-size: 24px;
	padding: 10px;
	width: 70px;
	margin: 0 40%;
}
.selectBox {
	width: 190px;
	margin: 5px 20px;
	font-size: 18px;
	padding: 5px;
	border-radius: 5px;
}

/* "button" Set players button*/
button {
	margin: 20px 25%;
  font-weight: bold;
  font-size: 14px;
	background: #17bba8;
	border: 2px solid #17bba8;
	padding: 10px 15px;
	font-family: 'Coda', sans-serif;
	color: #fff;
	border-radius: 5px;
}
button:hover {
	background: #fff;
	color: #17bba8;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.mainContent:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContent select {
    display: flex;
    flex-wrap: wrap;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
}
/*Layout*/
.mainWrapper {
	max-width: 750px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nameFieldErrorMessage {
	color:red;
}

table.score-table{
	border: 1px solid #CCC;
}

table.score-table .table-header{
	background: #EEE;
}

table.score-table th{
	padding: 5px 10px;
}

table.score-table td{
	padding: 5px 10px;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* "header a" home and scoreboard links at the bottom of the header */
header a {
	margin: 15px;
	background: #17bba8;
	border: 2px solid #17bba8;
	padding: 5px;
	font-family: 'Coda', sans-serif;
	color: #fff;
	border-radius: 5px;
}
header a:hover {
	background: #fff;
	color: #17bba8;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
footer {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 30px;
	background-color: #17bba8;
	color: #FFF;
	margin: 100px 0 0 0;
	position: absolute;
	bottom: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer,a {
	text-decoration: none;
}

footer,a:hover {
	color: #FFF;
}
