/*Do the usual style resets*/
@import "reset.css";

/*Import heavy font style*/
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

/*General global styles*/
* {
	box-sizing: border-box;
}
body {
	background: #eee;
}

/*Font styles*/
h1,h2,h3,h4,h5,h6 {
	font-family: 'Coda', sans-serif;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: 800;
	margin: 15px 0;
	width: 100%;
}
h2 span {
	font-size: 170px;
}
h3 {
	text-align: center;
	width: 100%;
	margin-top: 25px;
}
/*
Set players button

button
button:hover
*/
button {
	margin: 20px auto;
  font-weight: bold;
  font-size: 14px;
	background: #17bba8;
	border: 2px solid #17bba8;
	padding: 5px;
	font-family: 'Coda', sans-serif;
	color: #fff;
	border-radius: 5px;
}
button:hover {
	background: #fff;
	color: #17bba8;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/*
 Displays game setup at the bottom of the page

.mainContent:nth-child
.mainContent select
.mainContent
*/
.mainContent:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContent select {
    display: flex;
    flex-wrap: wrap;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
}
/* Layout */
.mainWrapper {
	max-width: 750px;
	height: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nameFieldErrorMessage {
	color:red;
}

/*
Gives the players som spaces between the names

form
 */
form {
 	margin: 5px 10px;
 }
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* "header a" home and scoreboard links at the bottom of the header */
header a {
	margin: 15px;
	background: #17bba8;
	border: 2px solid #17bba8;
	padding: 5px;
	font-family: 'Coda', sans-serif;
	color: #fff;
	border-radius: 5px;
}
header a:hover {
	background: #fff;
	color: #17bba8;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

footer {
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 30px;
	background-color: #17bba8;
	color: #FFF;
	margin: 100px 0 0 0;
	position: static;
	bottom: 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer,a {
	text-decoration: none;
}

footer,a:hover {
	color: #FFF;
}
